<div class="skip-links">
  <a href="#main">Contenu principal</a>
</div>
<header class="site-header" role="banner">
  <div class="site-header-top site-header-top__align wrapper">
      <p class="site-logo">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </p>

      <nav class="nav-main nav-main__scroll" role="navigation">
        <ul>
          {% assign nav_pages = site.html_pages | where: "navigation", true | sort: "nav_order" %}
          {% for page in nav_pages %}
            <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
  </div>

</header>
